/* src/components/musicbook/prettymusicbook.css */
/* 마디별 네모박스로 연주할 부분 표시해주는 css 코드 */
// prettymusicbook.css | 2024.10.30 '연습하기' 페이지에 "예뻤어" 악보 기능 임시 추가 (.css 디자인 코드)
// /practice 페이지를 구성하는 PracticePage.js가 호출하여 사용하는 코드를 꾸며주는 .css 코드 (악보 기능 추가해줌)

.musicbook {
  position: relative;
}

.imagebox_field {
  position: relative;
  display: inline-block;
}

.sheet_image {
  width: 100%;
  height: auto;
}

.red_box {
  position: absolute;
  border: 3px solid red;
  pointer-events: none;
}

/* 각 마디에 맞는 위치와 크기를 설정해주는 옵션 */
.measure-1 {
  top: 105px;
  left: 100px;
  width: 150px;
  height: 110px;
}

.measure-2 {
  top: 105px;
  left: 242px;
  width: 150px;
  height: 110px;
}

.measure-3 {
  top: 105px;
  left: 380px;
  width: 150px;
  height: 110px;
}

.measure-4 {
  top: 105px;
  left: 520px;
  width: 150px;
  height: 110px;
}

/* page2 */
.measure-5 {
  top: 7px;
  left: 53px;
  width: 165px;
  height: 112px;
}

.measure-6 {
  top: 7px;
  left: 213px;
  width: 165px;
  height: 112px;
}

.measure-7 {
  top: 7px;
  left: 368px;
  width: 165px;
  height: 112px;
}

.measure-8 {
  top: 7px;
  left: 526px;
  width: 165px;
  height: 112px;
}

/* page3 */
.measure-9 {
  top: 7px;
  left: 53px;
  width: 165px;
  height: 112px;
}

.measure-10 {
  top: 7px;
  left: 214px;
  width: 165px;
  height: 112px;
}

.measure-11 {
  top: 7px;
  left: 370px;
  width: 165px;
  height: 112px;
}

.measure-12 {
  top: 7px;
  left: 530px;
  width: 165px;
  height: 112px;
}

/* page4 (정말하루도~) */
.measure-13 {
  top: 6px;
  left: 56px;
  width: 165px;
  height: 112px;
}

.measure-14 {
  top: 6px;
  left: 217px;
  width: 165px;
  height: 112px;
}

.measure-15 {
  top: 6px;
  left: 373px;
  width: 165px;
  height: 112px;
}

.measure-16 {
  top: 6px;
  left: 533px;
  width: 165px;
  height: 112px;
}

/* page5 (잠들기전에~) */
.measure-17 {
  top: 6px;
  left: 53px;
  width: 165px;
  height: 112px;
}

.measure-18 {
  top: 6px;
  left: 214px;
  width: 165px;
  height: 112px;
}

.measure-19 {
  top: 6px;
  left: 372px;
  width: 165px;
  height: 112px;
}

.measure-20 {
  top: 6px;
  left: 531px;
  width: 165px;
  height: 112px;
}

/* page6 (예뻤어~) */
.measure-21 {
  top: 6px;
  left: 53px;
  width: 165px;
  height: 112px;
}

.measure-22 {
  top: 6px;
  left: 215px;
  width: 165px;
  height: 112px;
}

.measure-23 {
  top: 6px;
  left: 373px;
  width: 165px;
  height: 112px;
}

.measure-24 {
  top: 6px;
  left: 532px;
  width: 165px;
  height: 112px;
}

/* page7 (다~) -> 좀 빠른데 조절하기 */
.measure-25 {
  top: 5.5px;
  left: 53px;
  width: 165px;
  height: 112px;
}

.measure-26 {
  top: 5.5px;
  left: 214px;
  width: 165px;
  height: 112px;
}

.measure-27 {
  top: 5.5px;
  left: 373px;
  width: 165px;
  height: 112px;
}

.measure-28 {
  top: 5.5px;
  left: 531px;
  width: 165px;
  height: 112px;
}

/* page8 (예뻤어~ 2번째) */
.measure-29 {
  top: 6px;
  left: 54px;
  width: 168px;
  height: 121px;
}

.measure-30 {
  top: 6px;
  left: 220px;
  width: 168px;
  height: 121px;
}

.measure-31 {
  top: 6px;
  left: 377px;
  width: 168px;
  height: 121px;
}

.measure-32 {
  top: 6px;
  left: 532px;
  width: 168px;
  height: 121px;
}

/* page9 (다~ 2번째) */
.measure-33 {
  top: 6px;
  left: 55px;
  width: 171px;
  height: 121px;
}

.measure-34 {
  top: 6px;
  left: 222px;
  width: 171px;
  height: 121px;
}

.measure-35 {
  top: 6px;
  left: 377px;
  width: 171px;
  height: 121px;
}

.measure-36 {
  top: 6px;
  left: 534px;
  width: 171px;
  height: 121px;
}
