/* http://localhost:3000/select 페이지 UI 디자인 */
@import "./default.css";

/* SelectPage 페이지 전체 옵션 */
.selectpage {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 100vh;
  ackground-color: #f5f5f5;
  position: relative;
  padding: 0 40px; /* 왼쪽 미리듣기 곡 ~ 오른쪽 플레이리스트 사이 간격 (+ 양끝) */
}

/* 미리듣기 앨범 커버 전체 옵션 */
.selected_song {
  border-radius: 10px;
  padding: 10px;
  margin-top: 10px;
  margin-left: 10px;
}

.selected_song img {
  width: 600px;
  height: auto;
  margin-bottom: 20px;
}

.selected_song h2 {
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 15px;
}

.selected_song .practice_start_button {
  width: 220px;
  height: 55px;
  /* background-color: black;
  color: white; */
  font-size: 20px;
  border-radius: 30px;
  /* margin-top: 20px; */
}

/* 미리듣기 선택X 일 때 앨범 커버 옵션 */
.no_song_select {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
}

.no_song_select img {
  width: 600px;
  height: auto;
  object-fit: cover;
}

/* 미리듣기 노래 앨범 커버 옵션 */
.album_cover {
  text-align: center;
}

.album_cover img {
  width: 700px;
  height: auto;
  margin-bottom: 20px;
  margin-left: 130px;
  object-fit: cover;
}

.album_cover h2 {
  font-size: 24px;
  margin-bottom: 20px;
  margin-left: 130px;
}

/* 미리듣기 선택 노래 옵션 (화면 왼쪽) */
.listed_song {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: none;
  border: none;
  font-size: 30px;
  margin-bottom: 15px;
  cursor: pointer;
  text-align: left;
  padding: 10px 0;
  width: 100%;
}

/* 플레이리스트 전체 옵션 (화면 오른쪽) */
.playlist {
  text-align: left;
  width: 800px;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-right: 50px;
  margin-top: -300px;
  border: 5px solid black;
  padding: 20px;
  border-radius: 20px;
}

.playlist h3 {
  font-size: 40px;
  margin-bottom: 20px;
}

/* '시작하기' 버튼 옵션 (연습시작) */
.practice_start_button {
  width: 200px;
  height: 50px;
  background-color: black;
  color: white;
  border: none;
  font-weight: bold;
  cursor: pointer;
  margin-top: 20px;
  margin-left: 130px;
}

/* 리스트 노래제목 옆 재생버튼 이미지 옵션 */
.song_player_icon {
  width: 30px;
  height: auto;
  margin-left: 10px;
}

/* '메인으로' 버튼 옵션 */
.select_go_main_button {
  position: absolute;
  bottom: 40px;
  right: 50px;
  font-size: 30px;
  font-weight: bold;
  color: gray;
  cursor: pointer;
  border: none;
  background-color: transparent;
}
